pandas>=2.3.3
python-dotenv
langgraph
langchain
langchain-community
langchain-openai
langchain-text-splitters
networkx
qdrant-client
sentence-transformers>=5.2.0
numpy
tiktoken
httpx
langchain-google-genai
xgboost>=1.7.0
scikit-learn
pathway[xpack-llm]>=0.28.0
argparse
